.circles{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 21rem;

 
}
.timer {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: rgba(76, 116, 175, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    stroke: solid black 20px;

}
.timer::after {
    content: "";
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid var(--white);
    background: transparent;
}

@media(max-width:700px){
    .circles {
        position: absolute;
    }
    
}